.main-layout
  display: flex
  flex-direction: column
  min-height: 100vh
  
.color-selector
  display: flex

.size-selector
  display: flex

.product-image
  display: flex

.chart-button
  display: flex
  flex-direction: column
  &_header
    display: flex
  &_footer
    display: flex
